################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/GoodHamburgerAPI/.vs/GoodHamburgerAPI
